---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { client } from "../../lib/microcms";
import type { News } from "../../lib/microcms";

export const postsPerPage = 10;

export async function getStaticPaths({ paginate }) {
  const { contents: allPosts } = await client.getList<News>({
    endpoint: "news",
    queries: { limit: 100, orders: "-publishedAt" },
  });
  return paginate(allPosts, { pageSize: postsPerPage });
}

const { page } = Astro.props;

// 日付フォーマット（YYYY-MM-DD）
function formatDate(dateStr: string): string {
  return dateStr.slice(0, 10);
}
---

<BaseLayout pageTitle="お知らせ | 株式会社SINMEI">
  <main>
    <section class="news">
      <div class="news-inner">
        <div class="news-main">
          <div class="news-tit">
            <p lang="en">news</p>
            <h2>お知らせ</h2>
          </div>
          <ul class="news-list">
            {
              page.data.map((post: News) => (
                <li class="news-item">
                  <a href={`/news/${post.id}`}>
                    <div class="news-item-header" lang="ja">
                      <time datetime={formatDate(post.publishedAt)}>
                        {formatDate(post.publishedAt)}
                      </time>
                      <p>{post.category ?? "お知らせ"}</p>
                    </div>
                    <div class="news-item-main">
                      <p>{post.title}</p>
                      <img
                        src="/assets/images/arrow-blue.svg"
                        alt="矢印アイコン"
                      />
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
          <div class="news-link">
            {
              page.url.prev ? (
                <a class="prev" href={page.url.prev}>
                  <img
                    src="/assets/images/arrow-prev-blue.svg"
                    alt="戻るアイコン"
                  />
                </a>
              ) : null
            }
            <span>{page.currentPage}</span>
            {
              page.url.next ? (
                <a class="next" href={page.url.next}>
                  <img
                    src="/assets/images/arrow-next-blue.svg"
                    alt="進むアイコン"
                  />
                </a>
              ) : null
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
